* {
	margin: 0;
	padding: 0;
}

.section-img {
	width: 650;
	height: 350;
}

.banner {
	position: relative;
	text-align: center;
	color: white;
}

.bottom-left {
	position: absolute;
	bottom: 8px;
	left: 16px;
	color: #05386b;
}

.top-left {
	position: absolute;
	top: 75%;
	left: 14%;
	font-size: 25px;
	color: #05386b;
}

.center-left {
	position: absolute;
	top: 60%;
	left: 35%;
	color: dimgrey;
	font-size: 70px;
	font-weight: 700;
	transform: translate(-50%, -50%);
}

.shop {
	background-color: #05386b;
	color: white;
	font-size: 8px;
}

.formal-content h2 {
	color: #333333;
	font-size: 30px;
	font-family: 'FontAwesome';
	font-weight: bolder;
	padding-top: 10px;
	letter-spacing: 1px;
	position: relative;
	left: -15%;
}

.web-logo {
	text-align: center;
}


/* h3.h3 {
     text-align: center;
     margin: 1em;
     text-transform: capitalize;
     font-size: 1.7em;       
        } */


/********************* shopping Demo-1 **********************/

.product-grid {
	font-family: Raleway, sans-serif;
	text-align: center;
	padding: 0 0 72px;
	border: 1px solid rgba(0, 0, 0, .1);
	overflow: hidden;
	position: relative;
	z-index: 1
}

.product-grid .product-image {
	position: relative;
	transition: all .3s ease 0s
}

.product-grid .product-image a {
	display: block
}

.product-grid .product-image img {
	width: 100%;
	height: auto
}

.product-grid .pic-1 {
	opacity: 1;
	transition: all .3s ease-out 0s
}

.product-grid:hover .pic-1 {
	opacity: 1
}

.product-grid .pic-2 {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .3s ease-out 0s
}

.product-grid:hover .pic-2 {
	opacity: 1
}

.product-grid .social {
	width: 150px;
	padding: 0;
	margin: 0;
	list-style: none;
	opacity: 0;
	transform: translateY(-50%) translateX(-50%);
	position: absolute;
	top: 60%;
	left: 50%;
	z-index: 1;
	transition: all .3s ease 0s
}

.product-grid:hover .social {
	opacity: 1;
	top: 50%
}

.product-grid .social li {
	display: inline-block
}

.product-grid .social li a {
	color: #fff;
	background-color: #333;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	height: 40px;
	width: 40px;
	margin: 0 2px;
	display: block;
	position: relative;
	transition: all .3s ease-in-out
}

.product-grid .social li a:hover {
	color: #fff;
	background-color: #ef5777
}

.product-grid .social li a:after,
.product-grid .social li a:before {
	content: attr(data-tip);
	color: #fff;
	background-color: #000;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 20px;
	padding: 1px 5px;
	white-space: nowrap;
	opacity: 0;
	transform: translateX(-50%);
	position: absolute;
	left: 50%;
	top: -30px
}

.product-grid .social li a:after {
	content: '';
	height: 15px;
	width: 15px;
	border-radius: 0;
	transform: translateX(-50%) rotate(45deg);
	top: -20px;
	z-index: -1
}

.product-grid .social li a:hover:after,
.product-grid .social li a:hover:before {
	opacity: 1
}

.product-grid .product-discount-label,
.product-grid .product-new-label {
	color: #fff;
	background-color: #ef5777;
	font-size: 12px;
	text-transform: uppercase;
	padding: 2px 7px;
	display: block;
	position: absolute;
	top: 10px;
	left: 0
}

.product-grid .product-discount-label {
	background-color: #333;
	left: auto;
	right: 0
}

.product-grid .rating {
	color: #FFD200;
	font-size: 12px;
	padding: 12px 0 0;
	margin: 0;
	list-style: none;
	position: relative;
	z-index: -1
}

.product-grid .rating li.disable {
	color: rgba(0, 0, 0, .2)
}

.product-grid .product-content {
	background-color: #fff;
	text-align: center;
	padding: 12px 0;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -27px;
	z-index: 1;
	transition: all .3s
}

.product-grid:hover .product-content {
	bottom: 0
}

.product-grid .title {
	font-size: 13px;
	font-weight: 400;
	letter-spacing: .5px;
	text-transform: capitalize;
	margin: 0 0 10px;
	transition: all .3s ease 0s
}

.product-grid .title a {
	color: #828282
}

.product-grid .title a:hover,
.product-grid:hover .title a {
	color: #ef5777
}

.product-grid .price {
	color: #333;
	font-size: 17px;
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	letter-spacing: .6px;
	margin-bottom: 8px;
	text-align: center;
	transition: all .3s
}

.product-grid .price span {
	color: #999;
	font-size: 13px;
	font-weight: 400;
	text-decoration: line-through;
	margin-left: 3px;
	display: inline-block
}

.product-grid .add-to-cart {
	color: #000;
	font-size: 13px;
	font-weight: 600
}

@media only screen and (max-width:990px) {
	.product-grid {
		margin-bottom: 30px
	}
}

.formal-content h3 {
	color: #05386b;
	font-family: 'FontAwesome';
	font-size: inherit;
	text-decoration: underline;
	letter-spacing: 1px;
}

.banner-img {
	width: 100%;
}

.american {
	color: #333333;
	left: 91.5%;
	font-size: 30px;
	font-weight: bolder;
	font-family: 'FontAwesome';
}

p {
	color: gray;
	font-family: 'FontAwesome';
	letter-spacing: 1px;
}

.carpet-content:hover {
	width: 100px;
	height: 100px;
	background-color: white;
	animation-name: new;
	animation-duration: 1.5s;
}

@keyframes new {
	15% {
		background-color: pink;
	}
	20% {
		background-color: orange;
	}
	45% {
		background-color: whitesmoke;
	}
}

.carpet h2 {
	color: #333333;
	font-size: 30px;
	font-family: 'FontAwesome';
	font-weight: bolder;
	padding-top: 10px;
	text-align: center;
}

.carpet p {
	text-align: center;
	letter-spacing: 1px;
}

.MultiCarousel {
	float: left;
	overflow: hidden;
	padding: 15px;
	width: 100%;
	position: relative;
}

.MultiCarousel .MultiCarousel-inner {
	transition: 1s ease all;
	float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
	float: left;
}

.MultiCarousel .MultiCarousel-inner .item>div {
	text-align: center;
	padding: 10px;
	margin: 10px;
	background: #f1f1f1;
	color: #666;
}

.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
	position: absolute;
	border-radius: 50%;
	top: calc(50% - 20px);
}

.MultiCarousel .leftLst {
	left: 0;
}

.MultiCarousel .rightLst {
	right: 0;
}

.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
	pointer-events: none;
	background: #ccc;
}

.pad15:hover {
	width: 100px;
	height: 100px;
	transition: width 2s, height 2s, transform 2s;
}

.fa:hover {
	animation-name: example;
	animation-duration: 4s;
}

@keyframes example {
	from {
		background-color: pink;
	}
	to {
		background-color: yellow;
	}
}

.omega {
	margin-left: 3%;
}

footer {
	background-color: #05386b;
	width: 100%;
}

footer h2 {
	color: white;
	font-family: 'FontAwesome';
	letter-spacing: 1px;
}

footer h1 {
	color: white;
	font-family: 'FontAwesome';
	letter-spacing: 1px;
}

footer h3 {
	color: white;
	font-family: 'FontAwesome';
	letter-spacing: 1px;
}