body{
    margin: 0;
    padding: 0;
    font-family: system-ui;
}
.parallax, .parallax1{
    background-image:url('/assets/images/background-image.jpg');
    height: max-content;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-title{
    background:rgba(0,0,0,0.5);
    text-align: center;
    color: white;
    padding: 50px;
    font-variant: small-caps;
    font-size: 100px;
    font-family: fantasy;
    letter-spacing: 20px;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.menu{
    background: #184d47;
    text-align: center;
}
.menu-ul
{
    margin: 0;
    padding: 0;
    display: inline;
}
.menu-ul li{
       font-size: 17px;
       list-style:none;
       display:inline-block;
       padding: 25px 25px 26px 25px;    
}
.a-menu, .a-links{
    text-decoration: none;
    color: white;
}
.menu-ul li:hover{
    background: #5b8c5a;
    transform:scale(1.1);
}
.search-box{
    border: 1px solid white;
    border-radius: 50px;
    background: white;
    width: max-content;
    display: inline-block;
    margin: 8px;
}
.search-box:hover{
    box-shadow: 0 0 10px 2px #5b8c5a;
    border:1px solid #5b8c5a;
}
.search-input
{
    width: 250px;
    border: none;
    font-size: 16px;
    outline:none;
    background: transparent;
    margin: 15px 0 0 10px;
}
i{
    font-size: 20px;
    margin: 0 10px 0 0;
}
button{
    background: transparent;
    border: none;
    outline: none;
}
.container, .deals-container{
    margin: 50px 50px 50px 5%;
    width: 90%;
    text-align: center;
    background-image: url('');
}
.categories, .items
{
    width: max-content;
    margin: 25px;
    border: 1px solid #184d47;
    border-radius: 0 0 50px 50px;
    display: inline-block;
}
.categories:hover, items:hover{
    box-shadow: 0 0 10px 3px #184d47;
}
.item-image{
    height: 200px;
    width: 200px;
    border-radius: 0 0 50px 50px;
    padding: 10px;
}
.image-title{
    color: #445b0f;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
a{
    text-decoration: none;
}
.title{
    padding: 10px;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 10px;
    color: white;
    background: rgba(0,0,0,1.5);
    font-family: fantasy;
}
.deal {
    padding: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #445b0f;
    display: inline-block;
    margin: 20px;
    max-width: 20%;
    background: linear-gradient(120deg, #16817a 20%, aqua 50%, #16817a 80%);
}
.coupon-btn{
    border: 1px solid white;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}
.coupon-btn:hover{
    box-shadow: 0 0 10px 5px white inset;
}
.images{
    display: inline-block;
}
.items-image-size{
    height: 200px;
    width: 300px;
    padding: 5px;
}
.description{
    margin: 20px;
    min-height: 100px;
    color: #445b0f;
}
.items-select{
    margin: 10px 0 0 0;
}
.buynow-btn{
    border: 1px solid #184d47;
    background: #184d47;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
}
.buynow-btn:hover{
    border: 1px solid #5b8c5a;
    box-shadow: 0 0 10px 5px #5b8c5a inset;
}
.parallax1{
    background-image: url('/assets/images/background-footer.jpg');
}
.footer{
    background: rgba(0,0 0,0.5);
    text-align: center;
    padding: 20px;
}
.quick-links{
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    min-width: 30%;
}
.quick-links ul{
    padding: 0;
}
.quick-links li{
    list-style: none;
    padding: 10px;
    font-weight: 300;
}
.a-links:hover{
    color: #fd5e53;
}
.copyrights{
    font-size: 16px;
    font-family: verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    margin:15px;
}
.container .cart-section{
    max-width: 1200px;
    margin: 0 auto;
}
.container > h1{
    padding: 20px 0;
}
.cart{
    display: flex;
}
.product{
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border: 1px solid silver;
    margin-bottom: 20px;
}
.product:hover{
    border: none;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    transform: scale(1.01);
}
.product > img{
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.products{
    flex: 0.75;
    display: flex;
}
.product > img:hover{
    transform: scale(1.04);
}
.product-info{
    padding: 20px;
    margin: auto;
    width: 100%;
    position: relative;
}
.product-name .product-price, .product-offer{
    margin-bottom: 20px;
}
.product-remove{
    position: absolute;
    padding: 3px 6px;
    background-color: green;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.product-remove:hover{
    background-color: white;
    color: green;
    font-weight: 600;
    border: 1px solid #343A40;
}
.product-quantity > input{
    width: 20px;
    text-align: left;
}
.product-quantity{
    text-align: left;
}
.fa{
    margin-right: 5px;
}
.cart-total{
    padding: 20px;
    margin-left: 20px;
    border: 1px solid #445b0f;
    border-radius: 5px;
    color: darkslategray;
    margin-bottom: 20px;
}
.cart-total p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;
}
.cart-total a{
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: #184d47;
    color: white;
    text-decoration: none;
    padding: 3px 20px 10px 20px;
}
.cart-total:hover{
    background-color: silver;
}
.login-form,
.login-form h1,
.login-form span,
.login-form input,
.login-form label {
    margin: -10px;
    padding: 0;
    border: 0;
    outline: 0;
}
.login-form {
    position: relative;
    width: 200px;
    height: 200px;
    padding: 15px 25px 0 25px;
    margin: 20px 48px 20px 50px;
    cursor: default;
    background-color: #141517;
    border-radius: 5px;
    box-shadow: 0px 1px 1px 0px rgba(255,255,255, .2), inset;
}
.login-form:before {
    position: absolute;
    top: -12px;
    left: 10px;
    width: 0px;
    height: 0px;
    content: '';
    border-bottom: 10px solid #141517;
    border-right: 10px solid #141517;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
}
.login-form h1 {
    line-height: 40px;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: normal;
    color: #e4e4e4;
}
.login-form input[type=text],
.login-form input[type=password],
.login-form input[type=submit] {
    line-height: 14px;
    margin: 10px 0;
    padding: 6px 15px;
    border: 0;
    outline: none;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0px 1px 1px rgba(255,255,255, .2);
    border-radius: 26px;
    transition: all .15s ease-in-out;
}
.login-form input[type=text],
.login-form input[type=password],
.js .login-form span {
    color: #686868;
    width: 170px;
    box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6);
    background: #989898;
}
.login-form input[type=text]:hover,
.login-form input[type=password]:hover {
        box-shadow: inset 1px 1px 1px 0px rgba(255,255,255,);
      }
.login-form input[type=text]:focus,
.login-form input[type=password]:focus {
            background: #e1e1e1;
}
.login-form input[type=submit] {
    float: right;
    cursor: pointer;
    color: #445b0f;
    box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .45);
}
.login-form input[type=submit]:hover {
    box-shadow: inset 1px 1px 3px 0px rgba(255,255,255, .8), 0px 1px 1px 0px rgba(0,0,0, .6);
}
 
.login-form input[type=submit]:active {
    box-shadow: none;
}
.login-form input[type=submit],
.js .login-form span.checked:before {
    background: #a5cd4e;
    background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
}
.js .login-form input[type=checkbox] {
    position: fixed;
    left: -9999px;
}
.login-form span {
    position: relative;
    margin-top: 15px;
    float: left;
}
.js .login-form span {
    width: 16px;
    height: 16px;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.js .login-form span.checked:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    box-shadow: inset 0px 1px 1px 0px rgba(0,0,0, .3);
}
.login-form label {
    position: absolute;
    top: 1px;
    left: 25px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #e4e4e4;
}
.modal-open { 
    position: fixed;
}
#exampleModalCenter
{
    overflow-y: scroll;
    max-height: 500px;
}
@media (min-width: 576px) { }

 /* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {  }

 /* Large devices (desktops, 992px and up)  */
@media (min-width: 992px) {  }

/* // Extra large devices (large desktops, 1200px and up)  */
@media (min-width: 1200px) {  }
